.header {
  padding-top: 1px;
  &__wrapper {
    margin: 96px auto 0;
    width: 78%;
    max-width: 960px;
  }

  &__navigation {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding-bottom: 59px;
  }
}

.navigation {
  &__link {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Montserrat';
    color: #ffffff;
  }

  @include burger-menu {
    display: none;
  }
}

.burger-menu {
  position: fixed;
  left: -200%;
  top: 0;
  padding: 30px;
  background-color: #93268b66;
  width: 320px;
  height: 700px;
  transition: all 0.5s linear;

  &.active {
    left: 0;
  }

  &__item {
    transition: all 0.5s linear;
    &:hover:not(:last-of-type) {
      padding-left: 40px;
    }
  }

  &__link {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Montserrat';
    color: #ffffff;
  }
}

.burger {
  position: fixed;
  top: -77px;
  right: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 97px;
  margin-left: auto;
  width: 40px;
  height: 30px;
  outline: none;
  border: none;
  background: transparent;
  z-index: 2;

  @include burger-menu {
    display: flex;
  }

  &__line {
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #ffffff;

    &_top {
      transition: transform 0.5s linear;
      &.active {
        transform: translateY(7px) rotate(45deg);
      }
    }
    &_bottom {
      transition: transform 0.5s linear;
      &.active {
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}
